




.search{
    width:1000px;
    height:70px;
    margin-left: 30px;
    background-color:#f3f3f3ff;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 15px;
  }
  
  .ParentSection{
    width:1360px;
    height:1010px;
    margin-left: 0px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .sectionA{
    width: 330px;
    height: 800px;
    background-color: #cfe2f3ff;
    margin-left: 30px;
    position: relative;
    }
 

  .sectionBparent > div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f7f6f6ff;
    width: 800px;
    height: 87px;
    margin-bottom: 20px;
    margin-left: 80px;
  }

  .studentInfoParent{
    position:relative;
    margin-left: 108px;
    width:800px;
    height:50px;
    margin-top: 35px;
    font-size: 19px;
  }

  .circle {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background: #d9d2e9ff;
    margin-left: 38px;
    margin-top: 1px;
  }
  .footer{
    margin-top: auto;
    width:1360px;
    height:100px;
    background-color: #cfe2f3ff;
  }
  
.img1{
    width:60px;
    height:60px;
    position:relative;
    margin-top: 6px;
    margin-left: 10px;
}
.img2{
    width:150px;
    height:150px;
    position:relative;
    margin-top:-105px;
    margin-left: 1060px;
}
.img3{
  width: 360px;
  height: 620px;
  margin-left: -6px;
  z-index: 1;
  position: absolute;
}
.img4{
margin-top: -50px;
margin-left: 60px;
width: 220px;
height: 120px;
z-index: 2;
position: absolute;
}
.img5{
margin-left: 10px;
width: 320px;
height: 200px;
z-index: 3;
position: absolute;
bottom: 40px;
}
.img6{
  margin-left: 10px;
  width: 320px;
  height: 200px;
  z-index: 3;
  position: absolute;
  bottom: 20px;
}